.bout {
    float: right;
    background-color: #ED8074; /* Red */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btnk{
    display: inline-block;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  background-color: #1D7A8C;
}
.br{
  display: inline-block;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}
/* Style général du formulaire */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style des labels */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  /* Style des champs de saisie */
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style des boutons */
  button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style du bouton Cancel */
  .btn-secondary {
    background-color: #ccc;
    margin-left: 10px;
  }
  
  .btn-secondary:hover {
    background-color: #bbb;
  }
  