body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    //background-color: #ED8074;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    color: #f4f4f4;
  }
  
  h1 {
    margin: 0;
    font-size: 30px;
    //font-family:cursive;
    //color :#1D7A8C;
    font-family: 'FantaisieArtistique', sans-serif;
                                                
  }
  
  main {
    margin: 15px;
  }
  
  section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  h2 {
    color: #1D7A8C;
    font-size: 20px;
    font-family: 'FantaisieArtistique', sans-serif;
  }
  
  p {
    line-height: 1.6;
  }
  
  ol {
    padding-left: 20px;
  }
  