<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand"  style="text-align: center;margin-top: 40px;">
        <!-- ========   Change your logo from here   ============ -->
        <img src="assets/images/shoplogo.png" alt="theme-logo" class="logo logo-dark logo-lg" width="70%" height="8%" style="display: inline-block;"/>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
