<div class="row">
  <div class="col-sm-12">
    <div class="card-body pc-componant">
      <h1>Bienvenue</h1></div>
    <app-card cardTitle="Exploration Élégante : Découvrez l'Harmonie du Style dans Notre Boutique en Ligne" [options]="false" blockClass="pc-component">
      <p>
        
Bienvenue dans notre boutique en ligne ! Découvrez l'élégance à chaque clic. 
Explorez nos collections exclusives et trouvez l'inspiration pour créer votre style unique. 
Des tendances intemporelles aux nouveautés les plus en vogue, nous avons ce qu'il vous faut pour vous démarquer avec élégance. 
Faites de chaque jour une occasion spéciale en choisissant des pièces qui reflètent votre personnalité et votre raffinement. 
Parcourez nos sélections soigneusement confectionnées et trouvez la mode qui parle à votre cœur.<br>
Bienvenue dans un monde où le style rencontre la simplicité.
    </app-card>
  </div>
</div>
